<!DOCTYPE html>
<html>
<head>
<title>Chitter</title>
</head>
<body>

<!-- <h1>This is a Heading</h1>
<p>This is a paragraph.</p> -->

<% @peeps.each do |peep| %>
  <li><%= peep.message %> created on <%= peep.time_stamp %></li>
<% end %>
</body>
</html>