<!DOCTYPE html>
<html>
<head>
<title>Chitter - create new peeps</title>
</head>
<body>

<!-- <h1>This is a Heading</h1>
<p>This is a paragraph.</p> -->
<form action="/chitter" method="post">
  <input type="text" name="peep" placeholder="message"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>